@page
@using Microsoft.AspNetCore.Authorization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using HQSOFT.Configuration.Permissions
@using HQSOFT.Configuration.Web.Pages.Configuration.CSAttributeDetails
@using HQSOFT.Configuration.Web.Menus
@using Microsoft.AspNetCore.Mvc.Localization
@using HQSOFT.Configuration.Localization
@inject IHtmlLocalizer<ConfigurationResource> L
@inject IAuthorizationService Authorization
@model IndexModel
@inject IPageLayout PageLayout
@{
    PageLayout.Content.Title = L["CSAttributeDetails"].Value;
    PageLayout.Content.MenuItemName = ConfigurationMenus.CSAttributeDetails;
}

@section scripts
{
    <abp-script src="/Pages/Configuration/CSAttributeDetails/index.js" />
}

@section content_toolbar {
    <abp-button id="ExportToExcelButton" text="@L["ExportToExcel"].Value" icon="download" size="Small" button-type="Primary" />
    @if (await Authorization.IsGrantedAsync(ConfigurationPermissions.CSAttributeDetails.Create))
    {
        <abp-button id="NewCSAttributeDetailButton" text="@L["NewCSAttributeDetail"].Value" icon="plus" size="Small" button-type="Primary" />
    }
}

<abp-card>
    <abp-card-body>
		<abp-row class="mb-3">
            <abp-column size-md="_12">
                <form id="SearchForm" autocomplete="off">
                    <div class="input-group">
                        <input class="form-control page-search-filter-text" id="FilterText" placeholder="@L["Search"]"/>
                        <abp-button button-type="Primary" type="submit" icon="search"/>
                    </div>
                </form>
            </abp-column>
            <abp-column size-md="_12" class="mt-3">
                <a href="javascript:;" id="AdvancedFilterSectionToggler" class="text-decoration-none">@L["SeeAdvancedFilters"]</a>
            </abp-column>
        </abp-row>

        <abp-row id="AdvancedFilterSection" style="display: none;">
            <abp-column size="_3">
                <abp-input asp-for="ValueIDFilter" label="@L["ValueID"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="DescriptionFilter" label="@L["Description"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="SortOrderFilterMin" label="@L["MinSortOrder"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="SortOrderFilterMax" label="@L["MaxSortOrder"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-select asp-for="DisabledFilter" label="@L["Disabled"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-select asp-for="CSAttributeIdFilter" label="@L["CSAttribute"].Value" />
            </abp-column>
        </abp-row>

        <abp-table striped-rows="true" id="CSAttributeDetailsTable">
            <thead>
				<tr>
					<th>@L["Actions"]</th>
					<th>@L["ValueID"]</th>
					<th>@L["Description"]</th>
					<th>@L["SortOrder"]</th>
					<th>@L["Disabled"]</th>
					<th>@L["CSAttribute"]</th>
				</tr>
            </thead>
        </abp-table>
    </abp-card-body>
</abp-card>